<div class="top-column-content" id="TopColumnContent">
    <div class="page-width">
        <div class="title-breadcrumbs">
            <div class="title-breadcrumbs-container">
                <nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
                    <a href="/" class="breadcrumb-home" title="Home">Home</a><span>@ViewData["Title"]</span>
                </nav>
                <h2 class="breadcrumb_title">@ViewData["Title"]</h2>
            </div>
        </div>
    </div>
</div>