@{
    ViewData["Title"] = "Forgot Password";
}
<partial name="_BreadcrumbsPartial" />
<main class="main-content" id="MainContent" role="main" tabindex="-1">
    <div class="page-width contents">
        <div class="main-container medium-up--three-quarters without-sidebar-main-container">
            <div class="customer login">
                <h1 tabindex="-1">
                    Reset your password
                </h1>
                <div>
                    <p>
                        We will send you an email to reset your password
                    </p>
                    <form method="post" asp-action="ForgotPassword">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="field">
                            <input type="email" name="email" id="RecoverEmail" autocorrect="off" autocapitalize="off" autocomplete="email" placeholder="Email" required>
                            <label for="RecoverEmail">
                                Email
                            </label>
                        </div>
                        <button type="submit">
                            Submit
                        </button>

                        <a asp-action="Login">
                            Cancel
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}