@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<main class="main-content" id="MainContent" role="main" tabindex="-1">
    <div class="page-width contents">
        <div class="main-container medium-up--three-quarters without-sidebar-main-container">
            <div class="customer register">
                <h1>
                    Create account
                </h1>
                <form method="post" asp-action="Register">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="field">
                        <input asp-for="FirstName" placeholder="FirstName">
                        <label asp-for="FirstName">
                            First name
                        </label>
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="field">
                        <input asp-for="LastName" placeholder="LastName">
                        <label asp-for="LastName">
                            Last name
                        </label>
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="field">
                        <input asp-for="Email" placeholder="Email">
                        <label asp-for="Email">
                            Email
                        </label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="field">
                        <input asp-for="Password" placeholder="Password">
                        <label asp-for="Password">
                            Password
                        </label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <button type="submit">
                        Create
                    </button>
                </form>
            </div>
        </div>
    </div>
</main>