@model IEnumerable<OrderItem>

@{
    Layout = "_DashboardLayout";
    ViewData["Title"] = "Order";
    ViewData["Table"] = "Order Detail Table";
}

<table class="table table-striped" id="orderItems">
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="align-middle" style="height: 150px;width: 300px;">
                    <img class="mh-100 mw-100" src="@(item.Coffee.Image)" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Coffee.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.Price)
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Index" class="btn btn-secondary">Back to List</a>
@section Scripts {
    <script>
        $('#orderItems').DataTable();
    </script>
}