@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot Password";
}
<partial name="_BreadcrumbsPartial" />

<main class="main-content" id="MainContent" role="main" tabindex="-1">
    <div class="page-width contents">
        <div class="main-container medium-up--three-quarters without-sidebar-main-container">
            <div class="customer login">
                <h1 id="recover" tabindex="-1" style="display: block;">
                    Reset your password
                </h1>
                <p>
                    We will send you an email to reset your password
                </p>
                <form method="post">
                    <input type="hidden" name="form_type" value="recover_customer_password"><input type="hidden" name="utf8" value="✓">
                    <div class="field">
                        <input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <label asp-for="Input.Email">Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <button>
                        Submit
                    </button>
                    <a asp-page="./Login" onclick="hideRecoverPasswordForm();return false;">
                        Cancel
                    </a>
                </form>
            </div>
        </div>
    </div>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
