@model RegisterViewModel

@{
    Layout = "_DashboardLayout";
    ViewData["Table"] = "Create User";
    ViewData["Title"] = "User";
    //ViewData["Controller"] = "Users";
}

<div class="row">
    <form asp-action="Create" class="w-100" enctype="multipart/form-data">
        <div class="col-md-6">
            <input type="file" id="input-file-now" class="dropify" name="Avatar" data-height="500">
        </div>
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" required/>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" required />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" required />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input type="password" asp-for="Password" class="form-control" required />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Role" class="control-label">Role</label>
                <select class="form-control" id="Role" name="role" asp-items="Html.GetEnumSelectList(typeof(Role))"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-info" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <link href="/admin/css/dropify.min.css" rel="stylesheet">
    <script src="/admin/js/dropify.min.js"></script>
    <script>
        $('.dropify').dropify();
    </script>
}
