/* css alert */
.alert {
    position: fixed;
    top: 20px;
    right: -300px;
    z-index: 1000;
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: right 1s ease-out, opacity 1s ease-out;
    opacity: 1;
}

.alert-success {
    background-color: #dff0d8;
    color: #3c763d;
    border: 1px solid #d6e9c6;
}

.alert-error {
    background-color: #f2dede;
    color: #a94442;
    border: 1px solid #ebccd1;
}

.alert.show {
    right: 20px;
}

.alert.hide {
    right: 100%;
    opacity: 0;
}
