@{
    ViewData["Title"] = "About Us";
}
<partial name="_BreadcrumbsPartial" />
<main class="main-content" id="MainContent" role="main" tabindex="-1">
    <div class="page-width contents">
        <div class="main-container medium-up--three-quarters without-sidebar-main-container">
            <section id="shopify-section-template--16631469310245__main" class="shopify-section">
                <link rel="stylesheet" href="//cafebrew-codezeel.myshopify.com/cdn/shop/t/2/assets/section-main-page.css?v=848677459125201531666256841" media="all" onload="this.media='all'">
                <link rel="stylesheet" href="//cafebrew-codezeel.myshopify.com/cdn/shop/t/2/assets/component-rte.css?v=48186499454965788961666256838" media="all" onload="this.media='all'">
                <noscript>
                    <link href="//cafebrew-codezeel.myshopify.com/cdn/shop/t/2/assets/section-main-page.css?v=848677459125201531666256841" rel="stylesheet" type="text/css" media="all" />
                </noscript>
                <noscript>
                    <link href="//cafebrew-codezeel.myshopify.com/cdn/shop/t/2/assets/component-rte.css?v=48186499454965788961666256838" rel="stylesheet" type="text/css" media="all" />
                </noscript>
                <div class="page-width page-width--narrow">
                    <!--   <h1 class="main-page-title page-title">
                        About Us
                      </h1> -->
                    <div class="rte">
                        <div class="aboutus-block">
                            <h3 class="page-subheading">Our company</h3>
                            <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet conse ctetur adipisicing elit.<span>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span></p>
                        </div>
                        <br>
                        <div class="aboutus-block">
                            <h3 class="page-subheading">Our team</h3>
                            <p>Lorem set sint occaecat cupidatat non<strong class="dark">,</strong>Eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.Lorem Ipsum<span>&nbsp;is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span></p>
                        </div>
                        <br>
                        <div class="aboutus-block">
                            <h3 class="page-subheading">Testimonials</h3>
                            <p><span class="before">“</span>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.<span class="after">”</span></p>
                            <p><span class="before">“</span>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet conse ctetur adipisicing elit. Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod.<span class="after">”</span></p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>