@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}
<partial name="_BreadcrumbsPartial" />
<main class="main-content" id="MainContent" role="main" tabindex="-1">
    <div class="page-width contents">
        <div class="main-container medium-up--three-quarters without-sidebar-main-container">
            <div class="customer login">
                <h1 id="login" tabindex="-1">
                    Login
                </h1>
                <div>
                    <form method="post" asp-controller="Account" asp-action="Login">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="field">
                            <input asp-for="Email" id="CustomerEmail" placeholder="Email">
                            <label asp-for="Email">Email</label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="field">
                            <input asp-for="Password" id="CustomerPassword" autocomplete="current-password" placeholder="Password">
                            <label asp-for="Password">Password</label>
                        </div>
                        <a asp-action="ForgotPassword">Forgot your password?</a>
                        <button type="submit" style="width: 100%;">Sign in</button>
                        <a asp-action="Register">Create account</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}