@{
    ViewData["Title"] = "Sitemap";
}
<partial name="_BreadcrumbsPartial" />
<main class="main-content" id="MainContent" role="main" tabindex="-1">
    <div class="page-width contents">
        <div class="main-container medium-up--three-quarters without-sidebar-main-container">
            <section id="shopify-section-template--16631469310245__main" class="shopify-section">
                <link rel="stylesheet" href="//cafebrew-codezeel.myshopify.com/cdn/shop/t/2/assets/section-main-page.css?v=848677459125201531666256841" media="all" onload="this.media='all'">
                <link rel="stylesheet" href="//cafebrew-codezeel.myshopify.com/cdn/shop/t/2/assets/component-rte.css?v=48186499454965788961666256838" media="all" onload="this.media='all'">
                <noscript><link href="//cafebrew-codezeel.myshopify.com/cdn/shop/t/2/assets/section-main-page.css?v=848677459125201531666256841" rel="stylesheet" type="text/css" media="all" /></noscript>
                <noscript><link href="//cafebrew-codezeel.myshopify.com/cdn/shop/t/2/assets/component-rte.css?v=48186499454965788961666256838" rel="stylesheet" type="text/css" media="all" /></noscript>
                <div class="page-width page-width--narrow">
                    <!--   <h1 class="main-page-title page-title">
                        Sitemap
                      </h1> -->
                    <div class="rte">
                        <h3 id="faq-1504373463945"><span>Q. Why Choose Shopify?</span></h3>
                        <span>Shopify provides You with a variety of tools to help You set up and run Your business. Depending on the plan that You choose, You can find everything You need to showcase Your products online, to process payments, and to make Your store work for You. Shopify offers:</span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                        <p>&nbsp;</p>
                        <ul>
                            <li>Free and paid themes from the Shopify Theme Store to make Your store stand out and look great</li>
                            <li>Free and paid apps from the Shopify App Store to expand on the existing functionality of Your store</li>
                            <li>Shopify's own payment gateway to accept credit card payments</li>
                            <li>Growth opportunities with Shopify's various sales channels as well an enterprise plan for merchants who are selling in high volume and might be feeling the effects of accumulating transaction fees</li>
                            <li>A Shopify blog that has guides and articles about running Your store and connecting with Your customers</li>
                            <li>Experts all around the world that can help You set up, design, and market Your store</li>
                        </ul>
                        <hr>
                        <h3>Q. How do I install Shopify?</h3>
                        <p>Shopify is web based ecommerce software. This means there’s no installation required and it works with all operating systems (including Windows and MacOS)! Shopify hosts site itself so You don’t have to worry about installing, upgrading or maintaining any software or web servers. Go here to install shopify</p>
                        <p>Obcaecati, atque magnam excepturi, fuga perferendis, itaque repudiandae expedita veniam repellendus ex iure! Ipsam quia quam perspiciatis fugit illum in minus quos impedit natus cumque iste dignissimos nesciunt dolores culpa illo delectus architecto cupiditate, soluta et porro, praesentium adipisci omnis neque sequi! Quas atque ea soluta adipisci iure laudantium sit aliquam!</p>
                        <hr>
                        <h3 id="faq-1504374014438"><span>Q. An Introduction to the Marketplaces for Authors</span></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique vel est distinctio sequi. Maxime eos nostrum voluptate ullam esse earum molestias qui quo possimus illo eius et sunt aperiam magni fuga deleniti excepturi, quas doloremque ad officia dignissimos alias vero facilis dicta. Dicta nobis cumque officia! Alias eaque aut, reprehenderit magnam obcaecati facere quos repudiandae illo neque qui corporis officia nam tenetur voluptatum veritatis maiores omnis accusamus dicta placeat quam incidunt. Accusamus maxime et deserunt nobis deleniti qui quod, omnis eum, quasi, assumenda nam doloribus illum possimus voluptatibus soluta, quos non. Ullam aspernatur laboriosam, aperiam, quaerat earum id incidunt pariatur.</p>
                        <hr>
                        <h3><span>Q. What Images, Videos, Code or Music Can I Use in my Items?</span></h3>
                        <p>Architecto eum, aliquam. At repellendus, vitae dolorum facere, nesciunt commodi blanditiis voluptas atque? Veniam veritatis minus perspiciatis quam accusamus reiciendis ad sunt odit, quas vel autem, deserunt enim laborum molestiae unde pariatur error asperiores, cupiditate saepe. Consequuntur voluptatum nostrum ad inventore, quaerat perferendis voluptate praesentium iure, modi dignissimos facere rerum tenetur et amet sequi adipisci maxime, quos quod. Dolor inventore molestias officia, dolorum, fugiat similique dolores nemo aliquam laboriosam ea veniam voluptatibus.</p>
                        <hr>
                        <h3><span>Q. Tips for Increasing Your Referral Income</span></h3>
                        <p>Repellendus officiis eum modi quasi facere a ipsum at provident dicta totam reiciendis distinctio nisi, praesentium architecto laudantium odit perferendis, rerum, magni officia maiores velit iusto vel? Fugit accusantium suscipit, architecto accusamus nihil fugiat nobis sint numquam molestias fuga vel dolore harum aliquam, nostrum necessitatibus eaque dolorum, earum quam mollitia debitis maiores qui maxime delectus. Similique tempore dicta quis modi dolores voluptatum quisquam excepturi, hic neque sint accusantium iusto harum quam, id tenetur, ipsa architecto unde facilis ullam. Porro, minus. Perferendis, quo.&nbsp;</p>
                        <hr>
                        <h3 id="faq-1504374082568"><span>Q. How can I get support for an item which isn't working correctly?</span></h3>
                        <p>Sequi magnam saepe, necessitatibus veritatis distinctio eaque blanditiis natus, similique. Et fugiat atque illo perspiciatis, reiciendis nobis officia animi sint, a veniam nisi adipisci aliquam consequuntur libero. Sed dolorem, laudantium. Illum, qui, quam. Voluptas, sit, praesentium? Fuga unde quisquam ipsam nostrum optio impedit explicabo magni veniam odit deleniti maxime voluptas, autem, distinctio voluptates delectus fugiat nobis cum ipsa. Culpa labore magni ratione cumque explicabo maiores, repellendus tenetur!</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>
